<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add ToDo</title>
</head>
<body>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'todoapp:addtodo'  %}" method="post">
{% csrf_token %}
{% for name in todo.name.all %}
    <input type="radio" name="name" id="name{{ forloop.counter }}" value="{{ todo.id }}" />
    <label for="name{{ forloop.counter }}">{{ todo.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
</body>
</html>